<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<title>Home | Nextdoor</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Next Door</h1>-->
<!--<p>Welcome, neighbors! How are you today? :)</p>-->
<!--</body>-->

<!--</html>-->


<% provide(:title, "Home") %>
<h1>Next Door</h1>
<p>Welcome, neighbors! How are you today? :)</p>