<% provide(:title, "Home") %>
<div class="center">
  <h1>My Hood</h1>

  <p>Welcome, neighbors! How are you today? :)</p>


  <%= link_to "Sign up now!", new_path, class: "btn btn-lg btn-primary" %>
  <body id="background">

  </body>
</div>
